
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>米棒饭团</title>
<meta name="keywords" content="米棒饭团">
<meta name="description" content="米棒饭团说明">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script src="../static/js/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("m/");</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?aa3008e6804e7e008da112aa047ef833";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
<div id="man">
<img src="../image/tel.gif" width="1000" height="127" usemap="#Map">
<map name="Map">
  <area shape="rect" coords="168,24,247,59" href="/index.html">
  <area shape="rect" coords="283,26,367,59" href="/center.html">
  <area shape="rect" coords="396,23,481,57" href="/product.html">
  <area shape="rect" coords="512,24,590,59" href="#">
  <area shape="rect" coords="163,66,257,93" href="#">
  <area shape="rect" coords="282,64,370,99" href="#">
  <area shape="rect" coords="395,64,478,102" href="#">
  <area shape="rect" coords="512,68,587,98" href="#">
</map>
<br>
<img src="../image/pc_01.jpg" />
<img src="../image/pc_02.jpg" />
<img src="../image/pc_03.jpg" />
<img src="../image/pc_04.jpg" />
<img src="../image/pc_05.jpg" />
<img src="../image/pc_06.jpg" />
<div class="sp">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="80" height="260">&nbsp;</td>
      <td align="center" valign="middle" bgcolor="#fff"><embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=f0378587c0b&auto=1" allowFullScreen="true" quality="high" width="483" height="258" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></td>
      <td width="432">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_08.jpg" />
<img src="../image/pc_09.jpg" />
<div class="gd1"><iframe src="../image/gd2.html" width="878" height="212" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe></div>
<img src="../image/pc_11.jpg" />
<div class="bj1">
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="320" align="center" valign="middle"><img src="../image/1.gif" /></td>
      <td width="680" align="left" valign="top">
      <div class="wz1">网红台湾饭团</div>
      <div class="wz2">到底是个什么产品？</div>
      <div class="wz3">台湾饭团在传统粢饭团基础上进行改良，主要表现在以下几个方面：<br>
A:加入泰国紫米，<span>色泽更诱人</span>，更有食欲，营养更均衡。<br>
B:借鉴<span>寿司做法</span>，用海苔包裹，更显精致。<br>
C:吸收三明治特点，<span>什么都可以包</span>，加入牛排、鸡肉、腊肠等，产品价值更高<br>
这样有<span>群众基础</span>，市场上同类产品又不多的项目，具有极强的定价权和经营潜力。</div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_13.jpg" />
<img src="../image/pc_14.jpg" />
<img src="../image/pc_15.jpg" />
<img src="../image/pc_16.jpg" />
<img src="../image/pc_17.jpg" />

<div class="bj2">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="30">&nbsp;</td>
      <td width="280"><div class="wz4">产品上</div><div class="wz5">国民美食，亲民价格</div></td>
      <td width="50">&nbsp;</td>
      <td width="280"><div class="wz4">操作上</div><div class="wz5">不炸、不煮、不炒、只蒸！</div></td>
      <td width="50">&nbsp;</td>
      <td width="280"><div class="wz4">售卖上</div><div class="wz5">明档，现蒸！</div></td>
      <td width="30">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>

<div class="bj3">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="35">&nbsp;</td>
      <td width="274" valign="top"><div class="wz6">从4元到14元的产品都有，符合大多数食客的消费能力，从咸鸭蛋到牛肉到海鲜都可以包裹，可当主食也可当零食，满足了不同食客的需求。</div></td>
      <td width="54">&nbsp;</td>
      <td width="274" valign="top"><div class="wz6">很多挑食的小朋友都喜欢吃我们的台湾饭团，家长也也愿意给孩子带饭团，小孩爱吃是因为里面料多，家长愿意给孩子带，是因为健康，整个制作过程，不油炸，不炒，也不煮，只蒸，蒸的营养价值比煮的高，这是因为蒸的而言米的纤维结构没有被破坏，最大限度的保持了米的营养。</div></td>
      <td width="54">&nbsp;</td>
      <td width="274" valign="top"><div class="wz6">在售卖形式上，我们采用明档厨房，顾客可以看到整个制作过程，也可以看到所有的原料，几乎没有后厨，尤其是蒸米的木桶，我们用古法蒸米，看的见，味的到。</div></td>
      <td width="35">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_20.jpg" />
<img src="../image/pc_21.jpg" />

<div class="bj4">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="30">&nbsp;</td>
      <td width="280"><div class="wz4">食材上</div><div class="wz5">有料，吃的出！</div></td>
      <td width="50">&nbsp;</td>
      <td width="280"><div class="wz4">装修上</div><div class="wz5">顾客吸引顾客！</div></td>
      <td width="50">&nbsp;</td>
      <td width="280"><div class="wz4">宣传上</div><div class="wz5">三天成网红，七天有“团”粉!</div></td>
      <td width="30">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>

<div class="bj5">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="35">&nbsp;</td>
      <td width="274" valign="top"><div class="wz6">大米都吃过，好米骗不了人，我们选用了泰国清莱府的糯米，了解泰国米的人都知道，清莱府糯米是泰国进口大米中较好的品种。香肠，我们选用美国公司生产的荷美尔广式腊肠，一般只有进口超市才能买到。芝士我们选用马苏里拉芝士，这种芝士的甜度和深广度，比一般的风味要好得多。只有能吃的出的极致好料，才能有回头客，只有回头客才能持续经营。</div></td>
      <td width="54">&nbsp;</td>
      <td width="274" valign="top"><div class="wz6">通过长期的经营实践，我们在店面布局上巧妙设计，店内档口只允许进来三个顾客，后面再来顾客点单，会自动在店门口排起长队，只要排队，路过的人出于好奇也会来看，这样就形成了区域热点，吸引更多的食客来排队购买。</div></td>
      <td width="54">&nbsp;</td>
      <td width="274" valign="top"><div class="wz6">黄太吉、西少爷、雕爷牛腩、伏牛堂，都是通过事件策划，迅速引爆网络，成为网红餐厅，形成一大批粉丝，这些粉丝是餐厅忠实顾客。我们台湾饭团每家店都排队，本身就是区域热点事件，通过实践我们利用网红9原则，在开业前三天通过送、赠、买，加当地自媒体助推，可迅速打造网红饭团，俘获一大批“团粉”。</div></td>
      <td width="35">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_24.jpg" />
<div class="gd2"><iframe src="../image/gd1.html" width="878" height="212" marginheight="0" marginwidth="0" frameborder="0" scrolling="no"></iframe></div>
<img src="../image/pc_26.jpg" />
<img src="../image/pc_27.jpg" />
<div class="bj6">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="38">&nbsp;</td>
      <td><div class="wz7">2017年风口不在互联网，在传统行业！</div>
<div class="wz8">中国的食品安全问题到了令人无法容忍的地步，这个行业未来五年能涌现出一批令消费者放心的食品品牌。
台湾网红饭团，出品快，产品健康，市场同类产品不多，是想从事食品行业者首选。</div></td>
      <td width="280">&nbsp;</td>
    </tr>
  </tbody>
</table>

</div>
<img src="../image/pc_29.jpg" />
<img src="../image/pc_30.jpg" />
<div class="bj7"><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="166">&nbsp;</td>
      <td width="238"><div class="wz9">有基础，市场大</div>
      <div class="wz10">大米南北方都爱吃，台湾饭团以大米为主原料，市场接受度高，几乎没有不能开的地方。</div></td>
      <td width="178">&nbsp;</td>
      <td width="272"><div class="wz9">好选址，省房租</div>
      <div class="wz10">最小15平米即可，不需要明火，不需要排烟，只要有上下水和普通电源即可。无需堂吃，拿着就可以走，可以找大店合作，分租档口，店好找，房租低！</div></td>
      <td width="146">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_32.jpg" />
<div class="bj8"><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="48">&nbsp;</td>
      <td width="238"><div class="wz11">没有烟，不扰民<br>好办证</div>
      <div class="wz10">今年各地都在抓环保，有油烟的餐饮项目，现在证件很难办理，即使办下来了，也可能遭到附件居民投诉，网红台湾饭团，只蒸，真正没有油烟，不扰民。</div></td>
      <td width="92">&nbsp;</td>
      <td width="238"><div class="wz11">不添加，纯手工<br>有营养</div><div class="wz10">整个制作过程消费者完全可以看到，没有添加任何添加剂，进口泰国清莱府糯米，古法蒸煮，手工卷团，新鲜食材当着消费者面，放入饭团，顾客吃的安心。</div></td>
      <td width="86">&nbsp;</td>
      <td width="256"><div class="wz11">颜值高，易传播<br>省广告费</div><div class="wz10">产品用海苔包裹，成品再用环保防油纸卷起来，包装纸上印有网红热句，容易引起消费者共鸣，又因为是新产品，大多数顾客会发朋友圈来炫，这无形中帮我们起到了宣传作用。</div></td>
      <td width="42">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_34.jpg" />
<div class="bj9"><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="166">&nbsp;</td>
      <td width="238"><div class="wz9">适合外卖，可自行加热</div>
      <div class="wz10">网红台湾饭团打包不流汁，不散，特制包装纸包裹后，3小时内不变冷，顾客第二天也可以用微波炉直接加热，口味几乎没影响。</div></td>
      <td width="178">&nbsp;</td>
      <td width="272" valign="top"><div class="wz9">易复制，好管理</div>
      <div class="wz10">会蒸米饭就会做饭团，人员要求低，分收银区、加工区，各区域独立操作，员工好管理一年内开3-5家店，很轻松。</div></td>
      <td width="146">&nbsp;</td>
    </tr>
  </tbody>
</table></div>
<img src="../image/pc_36.jpg" />
<img src="../image/pc_37.jpg" />
<img src="../image/pc_38.jpg" />
<img src="../image/pc_39.jpg" />
<div class="bj10"><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="210">&nbsp;</td>
      <td width="690" align="left"><div class="wz3">1、总部统一配送核心原料，省仓储，不压货，开店无后顾之忧。<br>
2、总部统一培训，含产品操作、人员管理、自媒体营销三大板块，让你10天从门外汉成为专家。<br>
3、总部送设备，送装修，送员工，让你轻松开店。<br>
4、总部多种合作模式，可单店加盟，也可做区域代理，是赚钱项目，也是经营一辈子的事业。</div></td>
      <td width="100">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
<div class="bj11"><table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="408" rowspan="4">&nbsp;</td>
      <td width="70" style="color:#60211C; font-size:16px;">全国免费<br>咨询电话</td>
      <td align="center" style="color:#60211C; font-size:32px; font-weight:bold;">400-960-7371</td>
      <td width="260" rowspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" align="left" style="font-size:14px;">版权所有：上海米棒餐饮管理有限公司<br>
        </td>
      </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      </tr>
    <tr>
      <td height="57" colspan="2" align="left" style="font-size:14px; color:#f00;"><br>
        描左侧二维码加微信，了解更多！</td>
      </tr>
  </tbody>
</table>
</div>
<img src="../image/pc_42.jpg" />
<img src="../image/pc_43.jpg" />


</div>
<script>
(function() {
  var _53code = document.createElement("script");
  _53code.src = "//tb.53kf.com/code/code/10150314/1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(_53code, s);
})();
</script>
</body>
</html>
